*{
  text-align: center;
}

.form-control, .form-select{
    width: 30%;
    margin-left: 35%;
}

.user{
    position: absolute;
    right: 2%;
    text-align: right;

}

header{
    background-color: black;
    color: white;
}

nav{
    color: white;
}

#cuerpo{
    background-color: darkgray;
}

button{
    margin: 1%
}